<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Search For Zip Forecast</title>
  </head>
  <body>

    <form method="POST" action="{% url 'weather_query' %}">
        {% csrf_token %}
        <input type="number" name="zip_code">
        <button type="submit">Search</button>
    </form>

    <p>12-Hour Forecast</p>

    <table>
        <tr>
            <th>Hour</th>
            <th>Description</th>
            <th>Temperature</th>
            <th>Rain Chance</th>
            <th>Wind</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{ i.startTime }}</td>
            <td>{{ i.description }}</td>
            <td>{{ i.temperature }} F</td>
            <td>{{ i.rainChance }} %</td>
            <td>{{ i.wind }}</td>
        </tr>
        {% endfor %}
    </table>

  </body>
</html>
